<p>
    The action <strong>{{ action }}</strong> does not exist. Verify that your configuration
    is correct and try again.
</p>
<pre>
// config/actions.php
return [
    '{{ action }}' => 'FQCN\To\Action'
];
</pre>
